/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
font-family: 'Anuphan', sans-serif;
}

/* HEADER */
.header-container {
  background-image: url('../images/apple-pie.jpg');
  background-size: cover;
  background-position: center;
  height: 40rem;

  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 1.8rem 0 1.8rem;
}

.intro-container p {
  margin-bottom: 1.6rem;
}

hr {
  width: 90%;
}

.ingredients-container {
  padding: 2rem 1.8rem 0 1.8rem;
  
}

h3 {
  font-weight: 700;
  margin-bottom: 1.2rem;
}

ul  {
  padding-left: 1.2rem;
  
  
}

li {
  list-style-type: '-';
}

li span {
  margin-left: 5px;
}

.ingredients-container div {
  text-align: center;
  margin-top: 2rem;
}

.directions-container {
  padding: 2rem 1.8rem 3.8rem 1.8rem;
}